@using System.Data;
@using BlazorBootstrap;
@using BlazorApp3.Model
@using BlazorApp3.Model.Operation
@using BlazorApp3.Model.Categories
<div class="right_menu">
    <div class="right_menu__container">
        <div class="right_menu__list-label">
            Список Покупок
        </div>
        <div class="right_menu__list-items">
            @foreach(Purchase item in UserStorage.CurrentUser.Purchases)
                {
            <div  id =""class="right_menu__list-item">
                
                    <div   class="right_menu__list-item-name">
                        @item.Shop_Name
                    </div>

                    <div class="right_menu__list-item-price">
                        @item.SPrice
                    </div>
               
                
            </div>
            }
        </div>

    </div>
</div>

@code {

}
