<div class="left_menu">
    <div class="left_menu__cube_button-container">
        <button class="left_menu__cube_button">
            <a href="#" class="left_menu__link_button">
                <svg class="left_menu__cube_button_icon">
                </svg>
            </a>
        </button>
        <button class="left_menu__cube_button">
            <a href="#" class="left_menu__link_button">
                <svg class="left_menu__cube_button_icon">
                </svg>
            </a>
        </button>
    </div>

    <div class="left_menu__button-container">
        <button class="left_menu__period_button" id="js-button-day">
            За день
        </button>

        <button class="left_menu__period_button" id="js-button-week">
            За неделю
        </button>

        <button class="left_menu__period_button" id="js-button-month">
            За месяц
        </button>

        <button class="left_menu__period_button" id="js-button-year">
            За год
        </button>

        <button class="left_menu__period_button" id="js-button-all">
            За все время
        </button>
    </div>
</div>

@code {

}
