@page "/users"
@rendermode InteractiveServer
@using BlazorApp3.Model



<h3>Users</h3>

<div class="row">
	<div class="col">
		<h1 class="text-info">Add user</h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<EditForm Model="@newUser" OnSubmit="addUser" >
			<div class="form-group">
				<label>Login:</label>
				<InputText class="form-control" @bind-Value="newUser!.Login" />
			</div>
			<button type="submit">Save</button>
		</EditForm>
	</div>
</div>



<UserList/>



@code {
	ApplicationUser newUser = new();



	void addUser()
	{
		Console.WriteLine(newUser.Login);
			UserStorage.Users.Add(new ApplicationUser(newUser.Login));
	}



}
